@tailwind base;
@tailwind components;
@tailwind utilities;

div {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 500px;
  text-align: center;
}
body {
  background-color: #a1c4fd;
}
Header {
  background-color: white;
}
button {
  float: right;
  bottom: 10px;
}
